@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #1b3b92 #285df0;
  }

  body::-webkit-scrollbar {
    @apply w-2;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-[#1b3b92] to-[#a8dadc];
  }

  body::-webkit-scrollbar-track {
    @apply bg-gradient-to-b from-slate-100 to-gray-100;
  }
}

body {
  background-color: #f0fdf4;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #a8dadc !important;
}
