@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #e15659 #e15659;
  }

  body::-webkit-scrollbar {
    @apply w-2;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-[#E15659] to-[#E15659];
  }

  body::-webkit-scrollbar-track {
    @apply bg-gradient-to-b from-[#333] to-[#000];
  }
}

body {
  background-color: #f0fdf4;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #a8dadc !important;
}
